*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

header{
    background:#333;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:#f4f4f4;
}

.hero h1{
    margin-bottom:15px;
}

.hero button{
    margin-top:15px;
    padding:10px 20px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:50px;
}

.feature-box{
    border:1px solid #ddd;
    padding:20px;
    width:200px;
    text-align:center;
}

footer{
    background:#333;
    color:white;
    text-align:center;
    padding:20px;
}
@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-box {
        width: 80%;
    }
}
#error{
    color:red;
    margin-top:10px;
}

#success{
    color:green;
    margin-top:10px;
}
.dark-mode{
    background-color: #222;
    color: white;
}

.dark-mode header{
    background-color: #111;
}

.dark-mode footer{
    background-color: #111;
}

.dark-mode .feature-box{
    background-color: #333;
    color: white;
}
.api-section{
    padding: 30px;
    text-align: center;
}

#apiData{
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}